legend{

  background-color: #5271B0;
  color: white;
  text-align: center;
  display: block;
  padding-left: 40%;
  padding-right: 40%;
  text-decoration-style: solid;
  font-size: 19px;

}
div{

  background-color: skyblue;
  
}
